<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>

    <script src="./libs/jquery-3.3.1.min.js"></script>

</head>

<body>
    <h3>Hello to the page</h3>
    <br>
    <div id="mainbody">

    </div>

    <br>


    <!-- <script src="./admin.js"></script> -->
    <script>
        // $.ajax({
        //     type: 'GET',
        //     url: 'https://eclass.srv.ualberta.ca/admin/tool/mobile/launch.php?service=moodle_mobile_app&passport=111&urlscheme=https://39u5d604a6.execute-api.us-east-1.amazonaws.com/dev/tokencallback',
        //     statusCode: {
        //         302: function () {
        //             alert("302"); // this is never called
        //         },
        //         200: function () {
        //             alert("200");
        //         },
        //     },
        //     success: function (data, textstatus, xhrreq) {
        //         alert('You are now at URL: ' + JSON.stringify(xhrreq));
        //     },
        //     error: function (data) {
        //     },
        //     complete: function (jqXHR, textstatus) {
        //         alert('You are now at URL: ' + JSON.stringify(jqXHR));
        //     },
        // });

    </script>

</body>

</html>